@import './globals.css';

html.light[data-theme='dark'] {
  display: none;
}

html.dark[data-theme='light'] {
  display: none;
}

[data-rehype-pretty-code-figure] {
  @apply bg-background py-0 rounded-xl border-none;
}

[data-rehype-pretty-code-figure] pre {
  @apply bg-background p-0;
}

[data-rehype-pretty-code-figure] code {
  @apply grid w-full h-full break-words border-none bg-card text-sm py-2 leading-6;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right;
}

[data-rehype-pretty-code-figure] .line--highlighted {
  @apply bg-slate-300;
}

[data-rehype-pretty-code-figure] .line-highlighted span {
  @apply relative;
}

[data-highlighted-line] {
  @apply bg-slate-300;
}

[data-rehype-pretty-code-figure] .word--highlighted {
  @apply rounded-xl bg-slate-300 p-1;
}

[data-rehype-pretty-code-title] {
  @apply text-sm text-zinc-300 px-3 py-2;
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-0;
}
