@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 97%);
    --foreground: hsl(0, 0%, 4%);
    --border: hsla(0, 0%, 0%, 0.2);
  }

  .dark {
    --background: #05090d;
    --foreground: hsl(0, 0%, 97%);
    --border: hsla(0, 0%, 100%, 0.1);
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
