:root {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(220, 20%, 20%);
  /* --card: hsl(210, 25%, 96%); */
  --card: #ebf0f4;
  --primary: hsl(0, 0%, 100%);
  --primary-foreground: hsl(212, 24%, 89%);
  --secondary: hsl(200, 60%, 50%);
  --secondary-foreground: hsl(210, 30%, 98%);
  --accent: hsl(340, 70%, 60%);
  --accent-foreground: hsl(200, 27%, 98%);
  --muted: hsl(240 3.8% 25.1%);
  --muted-foreground: hsl(240 3.8% 30.1%);
  --border: hsl(210, 20%, 89%);
  --radius: 1rem;
  --destructive: #dc7777;
  --destructive-foreground: #843737;
}

:root.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(210, 20%, 98%);
  --card: hsl(0, 0%, 3%);
  --primary: hsl(220, 15%, 14%);
  --primary-foreground: hsl(220, 15%, 20%);
  --secondary: hsl(200, 60%, 60%);
  --secondary-foreground: hsl(220, 15%, 10%);
  --accent: hsl(340, 70%, 70%);
  --accent-foreground: hsl(240 5% 64.9%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 70%);
  --border: hsl(220, 15%, 5%);
}
