@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Onest Variable", sans-serif;
}

@layer base {
  :root {
    --background: hsl(220, 20%, 97%);
    --foreground: hsl(0, 0%, 18%);
    --border: hsla(220, 13%, 91%, 1);
    --text-foreground: hsla(220, 10%, 20%, 0.95);
    --card: hsl(220, 16%, 96%);
    --radius: 1rem;
  }

  .dark {
    --background: hsl(220, 10%, 5%);
    --foreground: hsl(220, 0%, 90%);
    --border: hsl(220, 10%, 8%);
    --text-foreground: hsla(220, 10%, 90%, 0.9);
    --card: hsl(220, 10%, 4%);
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background border-border;
  }

  h1,
  h2 {
    @apply text-foreground;
  }

  ::-webkit-scrollbar {
    @apply w-[0.3rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-gray-500 rounded-md;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-purple-500 to-violet-500 bg-clip-text text-transparent;
  }
}
