@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Onest Variable", sans-serif;
}

@layer base {
  :root {
    --background: rgb(247, 247, 247);
    --foreground: hsl(0, 0%, 4%);
    --border: hsla(0, 0%, 0%, 0.1);
    --text-foreground: hsla(0, 0%, 0%, 0.9);
    --card: rgb(243, 243, 243);
    --radius: 1rem;
  }

  .dark {
    --background: hsl(0, 0%, 2%);
    --foreground: hsl(0, 0%, 97%);
    --border: hsla(0, 0%, 100%, 0.05);
    --text-foreground: hsla(0, 0%, 97%, 0.8);
    --card: hsl(0, 0%, 2.8%);
  }
}

@layer base {
  * {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background border-border;
  }
  ::-webkit-scrollbar {
    @apply w-[0.6rem];
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400 dark:bg-gray-500 rounded-md;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-violet-400 via-violet-500 to-violet-600 bg-clip-text text-transparent;
  }
}
